/* 
    Color: #fb7c05
    Background: #191919
*/
body {
    background-color: #191919;
}
.navigation {
    margin: 0.5rem;
}
.navigation button.navbar-button {
    background-color: #fb7c05;
    border: none;
    width: 5rem;
    height: 2rem;
    border-radius: 6%;
}
.navigation button.navbar-toggler {
    border: 0;
}
#main {
    padding-top: 16rem;
}
.add {
    background-color: #fb7c05;
    border: 0;
    border-radius: 2%;
    width: 16rem;
    height: 3rem;
    color: #fff;
    font-size: 20px;
}
.features {
    background-color: rgba(255, 255, 255, 0.2);
    border: 0;
    border-radius: 2%;
    width: 16rem;
    height: 3rem;
    color: #fff;
    font-size: 20px;
}